<%- model_class = Restaurant -%>
<div class="jumbotron foodbackground">
        <%= link_to "ANOTHER ONE!",
      random_restaurants_path,
    :class => "randombutton" %>

</div>

<div>
	<h1 class="random-name">
		<%= @choice.name %>
	</h1>
	<h3 class="random-address">
		<%= @choice.address %>
	</h3>

  <div class="panel-group" style="margin-top: 30px;">
    <% @choice.notes.each do |note| %>  
      <div class="panel panel-info">
        <div class="panel-heading"><%= note.created_at%></div>
        <div class="panel-body"><%= note.contect%></div>
      </div>
    <% end %>

  <div>
	
</div>

<div class="row" style="margin-left: 340px; margin-right: 460px; margin-top: 50px;">
	<div class="col-xs-6 col-sm-3"></div>
    <div class="col-xs-6 col-sm-3" >
      <%= link_to "View in Yelp",
      	open_yelp_restaurant_path(@choice.id),:class => "btn btn-large btn-danger yelp-button" %>
    </div>
    <div class="col-xs-6 col-sm-3" >
      <button class="btn btn-large btn-info yelp-button" type="button">View My Notes</button>
    </div>

</div>

<div class="row"></div>

<div style="display:inline-block; width:800px;">
  <%= simple_form_for @newnote, :url => addnote_restaurant_path(@choice.id) do |f| %>
        <div class="form-group" style="margin-top: 30px;">
          <%= f.input :contect,  as: :text, input_html: { class: 'span12' }, label: false, placeholder: 'Things to remember...' %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :restaurant_id, value: @choice.id %>
          <%= f.button :submit, :class => 'btn btn-primary btn-lg' %>
        </div>                       
  <% end %>
</div>
